<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} :: {{ .Site.Title }}</title>
    <style>
        img {
            width: 100%;
        }
    </style>
</head>
<body>